/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  width: var(--block-width);
  margin: 0 auto;

  background-image: var(--page-bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: var(--font-main);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--fw-text);
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  width: 100%;

  border: var(--border);
  background: var(--bg-color);
  font-family: var(--font-accent);

  margin-block-start: 100px;
}

.header__title {
  margin: 0;
  font-size: var(--header-title-size);
  margin-block-start: var(--header-vertical-offset);
}

.header__subtitle {
  font-size: var(--header-subtitle-size);
  text-transform: uppercase;
  margin-block-end: var(--header-vertical-offset);
}

.main {
  width: 100%;
  margin-block-start: var(--main-top-offset);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.card {
  border: var(--border);
  background-color: var(--bg-color);
  overflow: hidden;
}
.card__title {
  font-variation-settings: "wght" var(--fw-title);
  padding-inline: 10px;
  padding-block: 4px;

  font-size: var(--fs-base);
}
.card__img {
  width: 100%;
  display: block;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;

  padding-inline: 25px;
  padding-block-start: 27px;
  padding-block-end: 23px;
}
.card__text {
  font-variation-settings: "wght" var(--fw-text);
  font-size: var(--fs-base);
}

.card__like-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.card__like-button {
  padding-inline: 17px;
  padding-block-start: 9px;
  padding-block-end: 6px;

  border: var(--border);
  background-color: var(--bg-color);
  width: 130px;
}
.like-icon {
  width: 34px;
}
.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
}
