/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--font-main);
  font-variation-settings: "wght" var(--card-text-weight);

  background-image: var(--page-bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  font-family: var(--font-accent);

  border: var(--border);
  background: var(--bg-color);

  width: var(--block-width);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  margin-block-start: 100px;
}

.header__title {
  font-size: var(--header-title);
  margin: 0;
  margin-block-start: var(--header-content-offset);
}

.header__subtitle {
  font-size: var(--header-subtitle);
  margin-block-end: var(--header-content-offset);
  text-transform: uppercase;
}
