/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  width: var(--block-width);
  margin: 0 auto;

  background-image: var(--page-bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: var(--font-main);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--fw-text);
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  width: 100%;

  border: var(--border);
  background: var(--bg-color);
  font-family: var(--font-accent);

  margin-block-start: 100px;
}

.header__title {
  margin: 0;
  font-size: var(--header-title-size);
  margin-block-start: var(--header-vertical-offset);
}

.header__subtitle {
  font-size: var(--header-subtitle-size);
  text-transform: uppercase;
  margin-block-end: var(--header-vertical-offset);
}

.main {
  width: 100%;
  margin-block-start: var(--main-top-offset);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-block-end: 117px;
}
.card {
  border: var(--border);
  background-color: var(--bg-color);
  overflow: hidden;
}
.card__title {
  font-size: var(--fs-base);
  font-variation-settings: "wght" var(--fw-title);
  padding-inline: 10px;
  padding-block: 4px;
}
.card__img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.card__img-wrapper .card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 28px;
  right: 25px;

  color: rgba(var(--label-color), var(--label-opacity));

  font-family: var(--font-accent);
  font-size: var(--label-fs);
  font-weight: var(--label-fw);
  text-transform: uppercase;

  -webkit-text-stroke: 1px var(--label-stroke-color);
  -webkit-text-fill-color: rgba(var(--label-color), var(--label-opacity));

  mix-blend-mode: hard-light;

  text-shadow: 1px 1px 0 var(--label-stroke-color), -1px 1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color), -1px -1px 0 var(--label-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__label {
    text-shadow: none;
  }
}

.card__img {
  display: block;
  width: 100%;

  object-fit: cover;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 25px;
}
.card__text {
  font-size: var(--fs-base);
  font-variation-settings: "wght" var(--fw-text);
}

.card__like-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.card__like-button {
  font-family: var(--font-accent);
  width: 130px;

  border: var(--border);
  background-color: var(--bg-color);
  padding-inline: 17px;
  padding-block-start: 9px;
  padding-block-end: 6px;
}
.like-icon {
  width: 34px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
}

.button_type_save {
  display: flex;
  border: var(--border);
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: min(335px, 100% - 20px);
  margin: 0 auto;
  padding-block: 17px;
}

.button__icon {
  width: 21px;
  height: 21px;
}

.dialog {
  display: none;
  border: none;

  padding: 0;
  max-width: 341px;
  width: 90%;
}

.dialog[open] {
  display: block;
}

.dialog[open] .dialog__content {
  display: flex;
  gap: 20px;

  align-items: center;
  padding-block: 30px;
  padding-inline: 30px;
  /* padding-inline: 40px; */
}

.dialog__message {
  font-family: var(--font-accent);
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog__icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog form {
  padding-inline: 30px;
  padding-block-end: 30px;
}

.card__dialog-button {
  font-family: var(--font-accent);

  border: var(--border);
  background-color: var(--bg-color);
  padding-inline: 17px;
  padding-block-start: 9px;
  padding-block-end: 6px;
  width: 100%;
}

@media (width <= 375px) {
  .button_type_save {
    flex-direction: column;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog[open] .dialog__content {
    padding-inline: 40px;
  }

  .dialog form {
    padding-inline: 40px;
  }
}
