/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", monospace;

  --card-title-weight: 700;
  --card-text-weight: 400;
}
