/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", fantasy;

  --header-title-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --header-subtitle-size: clamp(0.875rem, 0.1719rem + 2.25vw, 1.4375rem);
  /* --header-vertical-offset: clamp(121px, 8vw, 130px); */
  --header-vertical-offset: clamp(121px, 9.027vw, 130px);

  --fw-title: 715;
  --fw-text: 410;

  --fs-base: 18px;
  --fs-dialog: 14px;

  --page-bg-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --block-width: clamp(375px, 90%, 700px);

  --border: 2px solid #000;
  --bg-color: #fff;

  --main-top-offset: 97px;

  --label-fs: 14px;
  --label-fw: 400;
  --label-color: 0, 0, 0;
  --label-opacity: 0.5;
  --label-stroke-color: #aaa;

  --main-color: #000000;
  --accent-color: #fff;

  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --sparks-color: #ff0000;
}
